.header{
    &-title{
        font-size: 30px;
        font-weight: bold;
    }
    &-select{
        display: flex;
        gap: 40px;
        .type{
            .option-list{
                flex-direction: row;
            }
            .option-item{
                &--icon{
                    font-size: 30px;
                    margin-right: 10px;
                }
                &--value{
                    align-items: end;
                    font-weight: bold;
                }
            }

        }
    }
}

