p {
  text-align: left;
  word-break: break-word;
}
.reading {
  width: 100%;
  display: flex;
  height: calc(100vh - 154px);
  &-passage {
    background: #d7e6dc;
    width: 50%;
    overflow: auto;
    padding: 20px;
  }
  &-question {
    width: 50%;
    overflow: auto;
    padding: 20px;
  }
}
