.volume-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  .volume {
    &-basic {
      display: flex;
      align-items: start;
      max-width: 250px;
      gap: 10px;
      &--logo {
        width: 78px;
      }
      &--title {
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #284664;
        margin: 0 0 4px;
        text-align: left;
      }
    }
    &-detail {
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: 10px;
      max-width: 250px;
      &--item {
        display: flex;
        align-items: start;
        gap: 10px;
        .icon {
          font-size: 16px;
        }
      }
    }
  }
}
.action{
  position: relative;
  &-icon{
    font-size: 40px;
    font-weight: 100;
    position: absolute;
    z-index: 0;
  }
  .option{
    &-list{
      font-size: 16px;
      font-weight: 500;
      position: absolute;
      top: 40px;
      right: -30px;
      width: 300px;
      box-shadow: 0 2px 3px 0 rgba(#000, .3);
      border-radius: 10px;
      padding: 5px 0;
    }
    &-item{
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      font-weight: bold;
      font-size: 20px;
      font-weight: 600;
      .icon{
        display: flex;
        justify-content: end;
        width: 30%;
      }
      .name{
        width: 100%;
      }
      &:hover{
        background: #f0f0f0;
      }
    }
  }

}