.question {
  &-input {
    width: 130px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    color: #536b83;
    margin-left: 2px;
  }
  &-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #327846;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-right: 2px;
  }
  &-select {
    width: max-content;
    display: inline-block;
  }
}
