.palette {
  &-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
  }
  &-list {
    display: flex;
    gap: 3px;
    width: 500px;
    flex-wrap: wrap;
  }
  &-item {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid #2dc100;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--active {
      background: #2dc100;
      color: #fff;
    }
  }
}
