.question-set {
  &-caption {
    color: #327846;
    font-weight: bold;
    margin-bottom: 30px;
  }
  &-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
  &-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
  .question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-caption {
      color: #294563;
      font-weight: bold;
    }
    &-detail {
      &-type--select {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &-item {
          display: flex;
          align-items: start;
          width: 100%;
          gap: 20px;
        }
      }
    }
  }
}

.question {
}

input[type="text"] {
  width: 130px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #536b83;
  margin-left: 2px;
}
.number {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #327846;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.select {
  margin-left: 2px;
  width: max-content;
  display: inline-block;
}
