.table {
  width: 100%;
  border: 1px solid #ccc;
  &-row {
    width: 100%;
    display: flex;
    align-items: center;
    height: 32px;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border: none;
    }
  }
  &-colume {
    padding: 5px;
    &:first-child {
      width: 20%;
    }
  }
}
