$primary-1: #327846;
$primary-2: #2dc100;

$secondary-1: #294563;
$secondary-2: #23527c;

$white-1: #f7f7f8;
$white-2: #ececf1;
$white-3: #d9d9e3;
$white-4: #c5c5d2;
$white-5: #acacbe;
$white-6: #8e8ea0;
$white-7: #565869;
$white-8: #40414f;
$white-9: #343541;
$white-10: #202123;
$white-11: #050509;
