.advertisement {
    padding: 30px;
    &-list {
        &--header{
            margin-bottom: 20px;
        }
        &--item {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        &--name {
            color: #294563;
            font-size: 20px;
            font-weight: bold;
        }
        &--refresh {
            color: #C76378;
            cursor: pointer;
        }
    }
    &-item {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        &--title {
            color: #294563;
            font-weight: bold;
        }
        &--image {
            max-width: 64px;
            height: 64px;
            width: 100%;
            img {
                border-radius: 10px;
            } 
        }
        &--info {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &--footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #a0a0a0;
            font-size: 12px;
            font-weight: bold;
            span {
                margin-right: 5px;
            }
        }
    }
}