.text-field {
    min-height: 32px;
    line-height: 32px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #cccccc;
    
    &--readonly {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      padding-right: 16px;
      padding-left: 12px;
      line-height: 32px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
}